[submodule "ipbus-firmware"]
	path = ipbus-firmware
	url = git@github.com:ipbus/ipbus-firmware.git
[submodule "mopshub-canakari"]
	path = mopshub-canakari
	url = git@github.com:ahmedqamesh/mopshub-canakari.git
