/Hardware/MOPS-Hub_Readout_board/MOPS-Hub_Readout_board-backups/
/Hardware/MOPS-Hub_Readout_board/#auto_saved_files#
/Hardware/MOPS-Hub_Readout_board/fp-info-cache
/Hardware/MOPS-Hub_Readout_board/History/
/Hardware/MOPS-Hub_Readout_board/MOPS-Hub_Readout_board.PrjPcbStructure
